<section id="skill">

    <h2 i18n>Habilidades</h2>
    <!-- <p class=" col-span-2 self-center">{{Language.name}}</p> -->
    <div class="flex flex-col lg:flex-row gap-4">
        <div class="card">
            <div class="bubble">
                <fa-icon [icon]="faCode"></fa-icon>
            </div>
            <h3 i18n>Lenguajes</h3>
            <ul>
                @for (Language of languages; track $index) {

                <li>
                    <img src={{Language.path}} alt={{Language.path}}>
                    <p>{{Language.name}}</p>
                </li>
                }

            </ul>
        </div>

        <div class="card">
            <div class="bubble">
                <fa-icon [icon]="faLayerGroup"></fa-icon>
            </div>
            <h3>Frameworks</h3>
            <ul>
                @for (framework of frameworks; track $index) {
                <div>

                    <li>
                        <img src={{framework.path}} alt={{framework.path}}>
                        <p>{{framework.name}}</p>
                    </li>
                </div>
                }

            </ul>
        </div>

        <div class="card">
            <div class="bubble">
                <fa-icon [icon]="faTerminal"></fa-icon>
            </div>
            <h3 i18n>Herramientas</h3>
            <ul>
                @for (tool of tools; track $index) {
                <li>
                    <img src={{tool.path}} alt={{tool.path}}>
                    <p>{{tool.name}}</p>
                </li>
                }

            </ul>
        </div>
    </div>

</section>