<section id="skill">
    <div>
        <h1 class="font-bold text-7xl my-16">Habilidades</h1>

        <div
            class="grid lg:grid-cols-3 shadow gap-4 align-baseline">
            <div class="segment">
                <fa-icon [icon]="faCode"></fa-icon>
                <h2>Languages</h2>
                <ul>
                    @for (Language of languages; track Language) {

                    <li>
                        <img src={{Language.path}} alt={{Language.path}}>
                        <p class=" col-span-2 self-center">{{Language.name}}</p>
                    </li>
                    }

                </ul>
            </div>

            <div class="segment">
                <fa-icon [icon]="faLayerGroup"></fa-icon>
                <h2>Frameworks</h2>
                <ul>
                    @for (framework of frameworks; track framework) {
                    <div>

                        <li>
                            <img src={{framework.path}} alt={{framework.path}}>
                            <p class=" col-span-2 self-center">{{framework.name}}</p>
                        </li>
                    </div>
                    }

                </ul>
            </div>

            <div class="segment">
                <fa-icon [icon]="faTerminal"></fa-icon>
                <h2>Tools</h2>
                <ul>
                    @for (tool of tools; track tools) {

                    <!-- <li class="flex gap-7 h-10 text-2xl ">
                        <img class="pointer-events-none select-none" src={{tool.path}}
                                alt={{tool.path}}>
                        <p>{{tool.name}}</p>
                    </li> -->

                    <li>
                        <img src={{tool.path}} alt={{tool.path}}>
                        <p class=" col-span-2 self-center">{{tool.name}}</p>
                    </li>
                    }

                </ul>
            </div>
        </div>
    </div>
</section>