div {
  height: 100%;
  width: 100%;
}

.stars-wrapper {
  @apply bg-gradient-to-t from-[#16161d] via-[#1f1f3a] to-[#3b2f4a];
  @apply -z-20 dark:-z-10 ;
  @apply opacity-0 dark:opacity-100;
  @apply transition-opacity duration-[2000ms];
}

.sky {
  @apply bg-gradient-to-b from-sky-600 to-sky-400;
  @apply -z-10 dark:-z-20 ;
  @apply opacity-100 dark:opacity-0;
  @apply transition-opacity duration-[2000ms];
}

.stars {
  @apply animate-pulse delay-[4s];
  @apply [&>*]:invisible dark:[&>*]:visible;
  position: absolute;
  inset: 0;

  &:nth-child(2) {
    animation-delay: calc(4s * -0.33);
  }

  &:nth-child(3) {
    animation-delay: calc(4s * -0.66);
  }

  @keyframes twinkle {
    50% {
      opacity: 0;
    }
  }
}

.star {
  fill: white;

  &:nth-child(3n) {
    opacity: 0.8;
  }

  &:nth-child(7n) {
    opacity: 0.6;
  }

  &:nth-child(13n) {
    opacity: 0.4;
  }

  &:nth-child(19n) {
    opacity: 0.2;
  }
}

.cloud {
  position: absolute;
  background-color: white;
  top: 50%;
  width: 25vw;
  height: 15vh;
  border-radius: 999px;
  animation: drift 120s infinite linear;



}

.cloud2 {
  position: relative;
  width: 200px;
  height: 120px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 
      40px 0 0 0 #fff, 
      80px 20px 0 0 #fff, 
      120px -10px 0 0 #fff,
      160px 20px 0 0 #fff, 
      200px 0 0 0 #fff;
  animation: drift 60s infinite linear;

}

@keyframes drift {
  0% {
    left: -30%;
  }

  100% {
    left: 100%;
  }
}