<nav>
  <div class="flex h-12 items-center m-2">
    <div class="flex gap-4">
      <a href="#experiencia" class="text-base font-medium text-white hover:text-[--accent] selection:text-[--accent]"
        aria-current="page">Experiencia</a>
      <a href="#projectos"
        class="text-base font-medium text-white hover:text-[--accent]">Projectos</a>
      <a href="#about" class=" text-base font-medium text-white hover:text-[--accent]">Sobre mí</a>
    </div>
    <div class="m-auto"></div>
    <app-switch class="px-5"></app-switch>

  </div>
  
</nav>