<section class="grid lg:grid-cols-3 dark:shadow-lg shadow-black dark:shadow-darkAccent rounded-lg bg-[#232634]">

    <div class="p-3 flex flex-col items-center md:max-lg:border-b lg:border-r border-[#babbf1]">
        <fa-icon [icon]="faCircleUser"></fa-icon>
        <h2>Frontend</h2>
        <P class="m-3 text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, iure sunt? Tempora
            neque, labore eos et,
            vero error qui, voluptas magnam ratione vel esse maxime temporibus praesentium incidunt repellendus
            architecto.</P>
        <p>tools:</p>
        <ul>
            <li>Javascript</li>
            <li>C#</li>
            <li>Python</li>
            <li>Html</li>
            <li>Css</li>
            <li>Git</li>
        </ul>
    </div>

    <div class="p-3 flex flex-col items-center md:max-lg:border-b lg:border-r border-[#babbf1]">
        <span class="size-16 bg-[#ca9ee6] rounded-full text-2xl justify-center items-center flex">
            <fa-icon [icon]="faCode"></fa-icon>
        </span>

        <h2>Backend</h2>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, iure sunt? Tempora neque, labore eos et,
            vero error qui, voluptas magnam ratione vel esse maxime temporibus praesentium incidunt repellendus
            architecto.</P>
        <p>tools:</p>
        <ul class="list-item">
            <li>Javascript</li>
            <li>C#</li>
            <li>Python</li>
            <li>Html</li>
            <li>Css</li>
            <li>Git</li>
        </ul>
    </div>

    <div class="p-3 flex flex-col items-center">
        <fa-icon [icon]="faTool"></fa-icon>
        <h2> Otros</h2>
        <ul>
            <li>vscode</li>
            <li>visual studio</li>
            <li>asdfas</li>
            <li>fasfa</li>
        </ul>
    </div>
</section>