@tailwind base;
@tailwind components;
@tailwind utilities;



.test{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    margin: 0;
    width: fit-content;
    user-select: none;
    white-space: nowrap; /* Keeps the content on a single line */
}

.prompt:before{
    content:">"
}

.carret:after{
    content:"_";
    margin-left: 0;
    margin-right: auto;
    animation: blink 1s infinite;
}

@keyframes typing  {
    0%{width: 0;}
    100%{width: calc(fit-content);}
  }

@keyframes blink{
    50% {color:transparent}
}


