<nav class="sticky top-0 h-12 bg-black z-10">
  <div class="flex py-3 items-center align-middle justify-center">
    <div class="flex gap-4">
      <a href="#about" class=" text-base font-medium text-white hover:text-[--accent]" i18n>Sobre mí</a>
      <a href="#skill" class="text-base font-medium text-white hover:text-[--accent] selection:text-[--accent]"
        aria-current="page" i18n>Habilidades</a>
      <a href="#projects" class="text-base font-medium text-white hover:text-[--accent]" i18n>Projectos</a>
      <a href="#contact" class="text-base font-medium text-white hover:text-[--accent]" i18n>Contacto</a>
    </div>
    <div class="m-auto"></div>
    <app-switch class="px-5"></app-switch>
  </div>

</nav>