<section id="projects">

    <h2 i18n>Projectos</h2>
    <div class="flex flex-col gap-y-16">
        @for (item of items; track $index) {
        <!-- <div class=" grid grid-cols-1 lg:grid-cols-3 items-center gap-4 gap-y-16"> -->
        <div class=" flex flex-col space-x-0 space-y-8 lg:flex-row lg:space-x-8 lg:space-y-0">
            <div class="relative w-full lg:w-1/2 group overflow-hidden shadow-xl rounded-md">
                <img class="group-hover:scale-110 group-hover:blur-sm  object-cover object-top w-full h-56 transition  sm:h-full md:scale-110 md:group-hover:scale-105"
                    src={{item.image}} alt="">
                <div
                    class="absolute transition group-hover:translate-y-full select-none pointer-events-none -top-full left-0 justify-around size-full grid grid-flow-col content-center  bg-black bg-opacity-70 ">
                    @for (tech of item.tech; track tech) {
                    <div
                        class="bg-slate-600 border border-slate-700 rounded-md p-1 min-w-10 text-center shadow-[0px_0px_4px_3px_rgba(0,0,0,0.3)]">
                        <p class="font-bold text-white">{{tech}}</p>
                    </div>
                    }
                </div>

            </div>
            <div class="w-full lg:w-1/2">
                <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">{{item.title}}</h3>
                <div class="flex flex-col">
                    <p class="mt-2 text-gray-700 dark:text-gray-400">{{item.description}}</p>
                    <div class="flex items-end justify-start mt-4 gap-x-4">
                        <a class="button bg-[#25292e] content-center" [href]="item.link"
                            target="_blank"><fa-icon [icon]="github"></fa-icon><span class="px-1" i18n>Codigo Fuente</span></a>
                    </div>

                </div>
            </div>
        </div>
        }
    </div>



</section>