<section id="contact">
    <div>
        <h1 class="font-bold text-7xl my-16" i18n>Contacto</h1>
        <div>

        <form action="https://formspree.io/f/xgvenyor" method="POST">
            <label i18n>
                Tu Email:
                <input type="email" name="email">
            </label>
            <label i18n>
                Tu Mensaje:
                <textarea name="message"></textarea>
            </label>
            <!-- your other form fields go here -->
            <button type="submit" i18n>Enviar</button>
        </form>
        </div>
    </div>
</section>