<div class="footer bg-transparent ">
  <div class="ground">
    <div class="cow group hover:left-0">
      <img class="group-hover:translate-x-4" src="./assets/img/cow.png" alt="">
      <img class="hidden group-hover:visible shadow-lg shadow-green-700" src="./assets/img/dizzy.png" alt="">
    </div>

  </div>
  <div class="absolute h-full w-full flex flex-col text-center justify-end">
    <p>devOvni - 2024</p>
    <p>Codigo Fuente: <a href="https://github.com/devovni/portfolio-final">GitHub</a></p>
  </div>
  <div>
  </div>
</div>