<section id="about">
    <h2 i18n>
        Sobre mí
    </h2>
    <div class="flex flex-col items-center justify-center gap-8 md:flex-row text-pretty text-xl">
        
            <img width="300" height="300" src="./assets/img/pic.jpeg" alt="Ignacio"
                class=" w-64 h-full p-1 lg:p-2 lg:w-64 rounded-full bg-black dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 ">
           <div>
            <p>
                Hola! Me llamo Ignacio, soy un desarrollador web entusiasta y autodidacta, con un fuerte interés en
                aprender
                y crecer en el mundo de la tecnología.
            </p>
            <br>
            <p>
                Aunque no cuento con experiencia profesional directa, he
                dedicado mucho tiempo a estudiar y practicar tecnologías CSS, JavaScript y varios frameworks
                modernos.
            </p>
           </div>
        
    </div>

</section>